<section class="screen" id="screen-loading">
	<div id="btn-back"></div>
	<div class="main-content">
		<div class="logo-tos-authenticated">
			<img src="assets/images/logo_tos.png" alt="Taste of Sounds by Martell" />
		</div>
		<div class="centered-content">
			<div class="text-loading">
				<div class="first-part text-ru">18+<br />ЧРЕЗМЕРНОЕ УПОТРЕБЛЕНИЕ<br />АЛКОГОЛЯ ВРЕДИТ ВАШЕМУ<br />ЗДОРОВЬЮ.</div>
			</div>
			<div class="count inactive">
				<span class="num num-3 inactive">3</span>
				<span class="num num-2 inactive">2</span>
				<span class="num num-1 inactive">1</span>
			</div>
		</div>
	</div>
</section>
