/* -------------------------------------------------------------------
IMPORTS
------------------------------------------------------------------- */
@import "./variables.scss";
@import "./mixins.scss";

/* -------------------------------------------------------------------
FONTS
------------------------------------------------------------------- */
/*
MARTELL
*/
@font-face {
   font-family: 'Martell-Regular';
   src: url('../../fonts/martell/martell-regular.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: 'Martell-Medium';
   src: url('../../fonts/martell/martell-medium.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
   font-family: 'Martell-Bold';
   src: url('../../fonts/martell/martell-bold.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
BENTON SANS
*/
@font-face {
   font-family: 'BentonSans-Condensed-Light';
   src: url('../../fonts/benton/BentonSans Condensed Light.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
AVENIR NEXT
*/
@font-face {
   font-family: 'Avenir-Next';
   src: url('../../fonts/avenir/avenir_next.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
CHINESE
*/
@font-face {
   font-family: 'Chinese-Font';
   src: url('../../fonts/chinese/chinese_font.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------
REDEFINITIONS D'ELEMENTS
------------------------------------------------------------------- */
*{
  /* Correction de la difference de gestion des marges par défaut entre Firefox et IE */
  margin: 0px;
  padding: 0px;

  /* Anti-aliasing des polices */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* On met un fading sur tous les changements de background, d'opacité et de couleur de texte*/
  @include transition(background 0.5s ease, opacity 0.3s ease, color 0.3s ease);
}

I{
  font-style:normal;
}

UL, OL, LI{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

UL{
  margin:0px;
  padding:0px;
}

A,
A:hover,
A:focus {
  text-decoration:none !important;
  cursor: pointer !important;
}

H1, H2, H3, H4, H5, H6, LABEL{
  margin: 0px;
  padding: 0px;
}

::-moz-selection {
  color:$white;
  text-shadow:none;
  background: $blue-dark;
}
::selection {
  color:$white;
  text-shadow:none;
  background: $blue-dark;
}

/* -- VIDEO IOS -- */
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
video::-webkit-media-controls {
    display:none !important;
}

BODY{
  width: 100%;
  height: 100%;
  font-family: inherit !important;
  font-size: inherit !important;
  color : inherit !important;
  /* On corrige le problème d'interlignage de Firefox */
  line-height: 1.2 !important;
  cursor: default;
  background-image: linear-gradient(to bottom, #001545 11%, #333bf1 82%, #363dfa);
  overflow-y: hidden;
  overflow-x: hidden;
}

/* -------------------------------------------------------------------
COMMUN
------------------------------------------------------------------- */
.is-mobile {
  display: none !important;
}
.is-desktop {
  display: flex !important;
}

/* -------------------------------------------------------------------
LANGUES
------------------------------------------------------------------- */
.text-ru {
  font-family: "Avenir-Next" !important;
}

.text-cmn {
  font-family: "Chinese-Font" !important;
}

.text-yue {
  font-family: "Chinese-Font" !important;
}

/* -------------------------------------------------------------------
STYLES SPECIFIQUES HOME (LOGIN)
------------------------------------------------------------------- */
#screen-home {
  .centered-content {
    height: 82vh;
  }
}

/* -------------------------------------------------------------------
STYLES SPECIFIQUES SELECTION HISTOIRES
------------------------------------------------------------------- */
#screen-story-choice {
  .centered-content {

    .wrap-stories {
      position: relative;
      width: 100%;
      margin-top: 5vh;
    }

    #btn-prev-story {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 6%;
      height: 100%;
      background: url("../../images/icon_prev.png") left 2vw center no-repeat;
      background-size: 20px 30px;
      cursor: pointer;
      z-index: 10;
    }

    #btn-next-story {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 6%;
      height: 100%;
      background: url("../../images/icon_next.png") right 2vw center no-repeat;
      background-size: 20px 30px;
      cursor: pointer;
      z-index: 10;
    }

    .list-stories {
      position: relative;
      width: 100%;

      &.active-item {
        .item-story {
          &:not(.selected) {
            img {
              top: 6vw;
            }
          }
        }
      }

      .item-story {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;

        img {
          position: relative;
          top: 0px;
          width: 60vw;
          max-width: 270px;
          height: auto;
          @include transition(width 0.5s 0s ease, max-width 0.5s 0s ease, top 0.5s 0s ease);
          @include opacity(1);
        }

        &.selected {
          img {
            width: 35vw;
            max-width: 450px;
            @include animation(fadeIn 0.6s 0s);
          }
        }
      }
    }

    .line-buttons-bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 4vh;
      width: 100%;
      margin-top: 40px;

      .btn-version {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44%;
        height: 70px;
        max-width: 400px;
        border: 1px solid $white;
        @include border-radius(70px);
        cursor: pointer;
        margin: 0px 1.5%;
        padding: 0px 20px;

        .icon {
          width: 20px;
          min-width: 24px;
          height: 24px;
          background: url("../../images/icon_play.png") no-repeat;
          background-size: 20px 24px;
        }

        .text {
          @include text("Martell-Medium", normal, normal, 20px, 20px, $white, left, uppercase, none);
          margin-left: 10px;
        }
      }

      &.active {
        .btn-version {
          display: flex;

          &:nth-child(1) {
            @include animation(fadeIn 0.8s);
          }
          &:nth-child(2) {
            @include animation(fadeIn 0.8s);
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------
STYLES SPECIFIQUES PLAYER AUDIO
------------------------------------------------------------------- */
#screen-player {

  .story-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;

    img {
      width: 70vw;
      max-width: 450px;
      height: auto;
    }
  }

  .player-audio {
    width: 90%;
    max-width: 960px;
  }
}

/* -------------------------------------------------------------------
STYLES GENERAUX WEBAPP
------------------------------------------------------------------- */
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to bottom, #001545 11%, #333bf1 82%, #363dfa);
  padding: 0px !important;

  section.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &.soon {
      .main-content {
        .centered-content {
          .msg-version-soon {
            display: block;
          }

          .story-selected,
          .player-audio {
            display: none;
          }
        }
      }
    }

    #btn-back {
      position: fixed;
      top: 3vh;
      left: 3vh;
      width: 20px;
      height: 30px;
      background: url("../../images/icon_back.png") no-repeat;
      background-size: 20px 30px;
      cursor: pointer;
      z-index: 10;
      @include animation(fadeInLeft 1s);
    }

    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;

      .logo-tos,
      .logo-tos-authenticated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2vh;
        height: 10vh;
        min-height: 75px;

        img {
          width: auto;
          height: 100%;
        }
      }

      .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2vh;
        width: 100%;
        height: 88vh;

        .text-intro {
          width: 90%;
          max-width: 800px;
          @include text("Martell-Bold", normal, normal, 34px, 34px, $white, center, uppercase, none);
          @include text-shadow(1px 1px 22px rgba(0, 21, 69, 0.65));
        }

        .text-intro-authenticated {
          position: absolute;
          top: 6vh;
          @include text("Martell-Bold", normal, normal, 24px, 24px, $white, center, uppercase, none);
        }

        .text-loading {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 95%;
          max-width: 960px;

          .first-part {
            width: 100%;
            @include text("Martell-Regular", normal, normal, 20px, 24px, $white, center, uppercase, none);
          }
          .second-part {
            width: 100%;
            @include text("Martell-Regular", normal, normal, 14px, 18px, $white, center, uppercase, none);
            margin-top: 10vh;
          }
        }

        .msg-version-soon {
          display: none;
          width: 95%;
          max-width: 960px;
          @include text("Martell-Regular", normal, normal, 18px, 22px, $white, center, uppercase, none);
        }

        .count {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          @include text("Martell-Regular", normal, normal, 400px, 400px, #B5905A, center, uppercase, none);

          .num {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0px;
            width: 100%;
            height: 100%;
            @include transition(opacity 0.2s ease);

            &.active {
              @include opacity(1);
            }
            &.inactive {
              @include opacity(0);
            }
          }
        }

        ul.list-lang {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 6vh;
          width: 80%;
          margin-bottom: 0px;

          li.item-lang {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 450px;
            height: 60px;
            @include text("Martell-Medium", normal, normal, 22px, 22px, $white, center, uppercase, none);
            border: 1px solid $white;
            @include border-radius(60px);
            @include opacity(1);
            margin-bottom: 2vh;
            cursor: pointer;

            &.soon {
              color: #cccccc;
              border: 1px solid #cccccc;
              @include opacity(0.5);
            }
          }
        }
      }

      form.login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 450px;
        margin-top: 5vh;

        .error {
          display: none;
          width: 100%;
          @include text("Martell-Medium", normal, normal, 18px, 18px, $white, center, uppercase, none);
          @include text-shadow(1px 1px 22px rgba(0, 21, 69, 0.65));
          @include animation(fadeIn 0.4s);
          margin-bottom: 20px;
        }

        input.text-field {
          width: 90%;
          height: 40px;
          @include text("Martell-Regular", normal, normal, 18px, 18px, $blue-dark, center, none, none);
          @include border-radius(40px);
          @include appearance(none);
          background-color: $white;
          outline: none;
          border: none;
          margin-bottom: 10px;

          &::-webkit-input-placeholder {
              color: $grey-light;
              // text-transform: uppercase;
          }
          &:-moz-placeholder {
              color: $grey-light;
              text-transform: uppercase;
          }
          &::-moz-placeholder {
              color: $grey-light;
              text-transform: uppercase;
          }
          &:-ms-input-placeholder {
              color: $grey-light;
              text-transform: uppercase;
          }
        }

        button.btn-submit {
          width: 90%;
          height: 40px;
          @include text("Martell-Regular", normal, normal, 18px, 18px, $white, center, none, none);
          @include border-radius(40px);
          @include appearance(none);
          background-color: $blue-dark;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 6vh;
        @include text("BentonSans-Condensed-Light", normal, normal, 3vh, 3vh, $white, center, uppercase, none);
        background-color: $blue-dark;
      }
    }

    .waves {
      position: relative;
      top: 0px;
      width: 150vw;
      max-width: 840px;
      min-height: 100vh;
      z-index: 1;
      background: url("../../images/waves.png") center top 22vh no-repeat;
      background-size: 100% auto;
    }
  }
}


/* -------------------------------------------------------------------
ANIMATIONS
------------------------------------------------------------------- */

