/*
OPACITY
*/
@mixin opacity($opacity) {
  $IEOpacity: $opacity*100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEOpacity+")";
  filter:alpha(opacity=$IEOpacity);
  -moz-opacity: $opacity;
  opacity: $opacity;
  -khtml-opacity: $opacity;
}

/*
TEXT
*/
@mixin text($font-family, $font-weight, $font-style, $font-size, $line-height, $color, $text-align, $text-transform, $text-decoration) {
    font-family:$font-family;
    font-weight:$font-weight;
    font-style:$font-style;
    font-size:$font-size;
    line-height:$line-height;
    color:$color;
    text-align:$text-align;
    text-transform:$text-transform;
    text-decoration:$text-decoration;
}

/*
TEXT-GRADIENT
*/
@mixin text-gradient($color1, $color2){
    background: linear-gradient(to right, $color1 0%, $color2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
TEXT-SHADOW
*/
@mixin text-shadow($params) {
  -webkit-text-shadow: $params;
  -moz-text-shadow: $params;
  text-shadow: $params;
}

/*
ZOOM
*/
@mixin zoom($zoom-value) {
  zoom: $zoom-value;
  -ms-zoom: $zoom-value;
  -webkit-zoom: $zoom-value;
  -moz-transform: scale($zoom-value);
  -moz-transform-origin: center center;
}

/*
BORDER-RADIUS
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*
BORDER-RADIUS-VALUES
*/
@mixin border-radius-values($topleft, $topright, $bottomleft, $bottomright) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
}

/*
BORDER-GRADIENT
*/
@mixin border-gradient($size, $color1, $color2){
    border: $size solid transparent;
    border-image: -moz-linear-gradient(left, $color1 1%, $color2 100%);
    border-image: -webkit-linear-gradient(left, $color1 1%, $color2 100%);
    border-image: linear-gradient(to right, $color1 1%, $color2 100%);
    border-image-slice: 1;
}

/*
BACKGROUND-GRADIENT
*/
@mixin background-gradient($color1, $color2){
    background-image: -moz-linear-gradient(left, $color1 1%, $color2 100%);
    background-image: -webkit-linear-gradient(left, $color1 1%, $color2 100%);
    background-image: linear-gradient(to right, $color1 1%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=1);
}


/*
TRANSITION
*/
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

/*
TRANSFORM
*/
@mixin transform($transform) {
    -moz-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

/*
APPEARANCE
*/
@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
    -moz-appearance: $appearance;
    appearance: $appearance;
}

/*
BOX-SHADOW
*/
@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

/*
FULL-CENTER
*/
@mixin full-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
VERTICAL-CENTER
*/
@mixin vertical-center{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
HORIZONTAL-CENTER
*/
@mixin horizontal-center{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*
IMAGE-GRAYSCALE
*/
@mixin image-grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*
ANIMATION
*/
@mixin animation($params) {
  -webkit-animation: #{$params};
  -moz-animation: #{$params};
  -ms-animation: #{$params};
  -o-animation: #{$params};
  animation: #{$params};
}

/*
KEYFRAMES
*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}