/* -------------------------------------------------------------------
COLORS
------------------------------------------------------------------- */
/* NUANCES */
$white: #ffffff;
$black: #000000;
$grey-extra-light: #eeeeee;
$grey-light: #c6c6c4;

/* THEME */
$red-error: #f30a0a;
$blue-dark: #001545;

