<section class="screen" id="screen-home">
	<div class="main-content">
		<div class="logo-tos">
			<img src="assets/images/logo_tos.png" alt="Taste of Sounds by Martell" />
		</div>
		<div class="centered-content">
			<div class="text-intro">A sensorial journey through the world of Martell</div>
			<form class="login-form">
				<div class="error">Incorrect password.<br /> Please reach your Martell contact.</div>
				<input class="text-field" type="text" placeholder="Password" name="password" />
				<button type="submit" class="btn-submit" id="btn-submit-login">
	        <span class="text-submit">Login</span>
	      </button>
			</form>
		</div>
		<footer>
			<div class="text-footer">Enjoy Martell responsibly</div>
		</footer>
	</div>
	<div class="waves"></div>
</section>
