<section class="screen" id="screen-lang-choice">
	<div id="btn-back"></div>
	<div class="main-content">
		<div class="logo-tos-authenticated">
			<img src="assets/images/logo_tos.png" alt="Taste of Sounds by Martell" />
		</div>
		<div class="centered-content">
			<div class="text-intro-authenticated">Choose<br />your language</div>
			<ul class="list-lang">
				<li class="item-lang" data-lang="en">English</li>
				<li class="item-lang" data-lang="fr">French</li>
				<li class="item-lang" data-lang="ru">Russian</li>
				<li class="item-lang" data-lang="cmn">Mandarin</li>
				<li class="item-lang" data-lang="yue">Cantonese</li>
			</ul>
		</div>
	</div>
</section>
