<section class="screen" id="screen-player">
	<div id="btn-back"></div>
	<div class="main-content">
		<div class="logo-tos-authenticated">
			<img src="assets/images/logo_tos.png" alt="Taste of Sounds by Martell" />
		</div>
		<div class="centered-content">
			<div class="msg-version-soon">This version will be available soon.</div>
			<div class="story-selected"></div>
			<div class="player-audio"></div>
		</div>
	</div>
</section>
