/* -------------------------------------------------------------------
IMPORTS
------------------------------------------------------------------- */
/* -------------------------------------------------------------------
COLORS
------------------------------------------------------------------- */
/* NUANCES */
/* THEME */
/*
OPACITY
*/
/*
TEXT
*/
/*
TEXT-GRADIENT
*/
/*
TEXT-SHADOW
*/
/*
ZOOM
*/
/*
BORDER-RADIUS
*/
/*
BORDER-RADIUS-VALUES
*/
/*
BORDER-GRADIENT
*/
/*
BACKGROUND-GRADIENT
*/
/*
TRANSITION
*/
/*
TRANSFORM
*/
/*
APPEARANCE
*/
/*
BOX-SHADOW
*/
/*
FULL-CENTER
*/
/*
VERTICAL-CENTER
*/
/*
HORIZONTAL-CENTER
*/
/*
IMAGE-GRAYSCALE
*/
/*
ANIMATION
*/
/*
KEYFRAMES
*/
/* -------------------------------------------------------------------
MEDIA-QUERIES COMMON
------------------------------------------------------------------- */
/* -- DEVICE XXS --*/
/* -- DEVICE XS --*/
@media (max-width: 767px) {
  .container-global section.screen .main-content .centered-content .count {
    font-size: 250px;
    line-height: 250px; } }

/* -- DEVICE XS et SM --*/
/* -- DEVICES SM --*/
/* -- DEVICES MD --*/
/* -- DEVICES LG --*/
/* -------------------------------------------------------------------
MEDIA-QUERIES CUSTOM
------------------------------------------------------------------- */
@media (max-height: 460px) {
  #screen-player .story-selected img {
    max-width: 160px; } }

@media (min-height: 461px) and (max-height: 600px) {
  #screen-player .story-selected img {
    max-width: 220px; } }

@media (min-height: 601px) and (max-height: 650px) {
  #screen-player .story-selected img {
    max-width: 300px; } }

@media (min-height: 651px) and (max-height: 800px) {
  #screen-player .story-selected img {
    max-width: 320px; } }

@media (min-height: 801px) and (max-height: 900px) {
  #screen-player .story-selected img {
    max-width: 380px; } }

@media (max-height: 768px) and (min-width: 768px) {
  #screen-player .story-selected img {
    width: 32vw; }
  #screen-story-choice .centered-content .list-stories.active-item .item-story:not(.selected) img {
    top: 3vw; }
  #screen-story-choice .centered-content .list-stories .item-story img {
    width: 21vw; }
  #screen-story-choice .centered-content .list-stories .item-story.selected img {
    width: 25vw; } }

@media (min-width: 992px) {
  .container-global section.screen .main-content .centered-content form.login-form {
    margin-top: 25vh; }
  .container-global section.screen .main-content .centered-content .text-intro-authenticated {
    font-size: 36px;
    line-height: 36px; }
  .container-global section.screen .main-content .centered-content .text-loading .first-part {
    font-size: 40px;
    line-height: 44px; }
  .container-global section.screen .main-content .centered-content .text-loading .second-part {
    font-size: 28px;
    line-height: 32px; }
  .container-global section.screen .waves {
    top: 13vh;
    min-height: 97vh;
    width: 55vw;
    background: url("../../images/waves.png") center top no-repeat;
    background-size: 100% auto; } }

@media (max-width: 480px) {
  #screen-story-choice .centered-content .list-stories .item-story img {
    width: 60vw; }
  #screen-story-choice .centered-content .list-stories .item-story.selected img {
    width: 48vw; } }
