@charset "UTF-8";
/* -------------------------------------------------------------------
IMPORTS
------------------------------------------------------------------- */
/* -------------------------------------------------------------------
COLORS
------------------------------------------------------------------- */
/* NUANCES */
/* THEME */
/*
OPACITY
*/
/*
TEXT
*/
/*
TEXT-GRADIENT
*/
/*
TEXT-SHADOW
*/
/*
ZOOM
*/
/*
BORDER-RADIUS
*/
/*
BORDER-RADIUS-VALUES
*/
/*
BORDER-GRADIENT
*/
/*
BACKGROUND-GRADIENT
*/
/*
TRANSITION
*/
/*
TRANSFORM
*/
/*
APPEARANCE
*/
/*
BOX-SHADOW
*/
/*
FULL-CENTER
*/
/*
VERTICAL-CENTER
*/
/*
HORIZONTAL-CENTER
*/
/*
IMAGE-GRAYSCALE
*/
/*
ANIMATION
*/
/*
KEYFRAMES
*/
/* -------------------------------------------------------------------
FONTS
------------------------------------------------------------------- */
/*
MARTELL
*/
@font-face {
  font-family: 'Martell-Regular';
  src: url("../../fonts/martell/martell-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Martell-Medium';
  src: url("../../fonts/martell/martell-medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Martell-Bold';
  src: url("../../fonts/martell/martell-bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
BENTON SANS
*/
@font-face {
  font-family: 'BentonSans-Condensed-Light';
  src: url("../../fonts/benton/BentonSans Condensed Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
AVENIR NEXT
*/
@font-face {
  font-family: 'Avenir-Next';
  src: url("../../fonts/avenir/avenir_next.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
CHINESE
*/
@font-face {
  font-family: 'Chinese-Font';
  src: url("../../fonts/chinese/chinese_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* -------------------------------------------------------------------
REDEFINITIONS D'ELEMENTS
------------------------------------------------------------------- */
* {
  /* Correction de la difference de gestion des marges par défaut entre Firefox et IE */
  margin: 0px;
  padding: 0px;
  /* Anti-aliasing des polices */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* On met un fading sur tous les changements de background, d'opacité et de couleur de texte*/
  -moz-transition: background 0.5s ease, opacity 0.3s ease, color 0.3s ease;
  -o-transition: background 0.5s ease, opacity 0.3s ease, color 0.3s ease;
  -webkit-transition: background 0.5s ease, opacity 0.3s ease, color 0.3s ease;
  transition: background 0.5s ease, opacity 0.3s ease, color 0.3s ease; }

I {
  font-style: normal; }

UL, OL, LI {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

UL {
  margin: 0px;
  padding: 0px; }

A,
A:hover,
A:focus {
  text-decoration: none !important;
  cursor: pointer !important; }

H1, H2, H3, H4, H5, H6, LABEL {
  margin: 0px;
  padding: 0px; }

::-moz-selection {
  color: #ffffff;
  text-shadow: none;
  background: #001545; }

::selection {
  color: #ffffff;
  text-shadow: none;
  background: #001545; }

/* -- VIDEO IOS -- */
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

video::-webkit-media-controls {
  display: none !important; }

BODY {
  width: 100%;
  height: 100%;
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  /* On corrige le problème d'interlignage de Firefox */
  line-height: 1.2 !important;
  cursor: default;
  background-image: linear-gradient(to bottom, #001545 11%, #333bf1 82%, #363dfa);
  overflow-y: hidden;
  overflow-x: hidden; }

/* -------------------------------------------------------------------
COMMUN
------------------------------------------------------------------- */
.is-mobile {
  display: none !important; }

.is-desktop {
  display: flex !important; }

/* -------------------------------------------------------------------
LANGUES
------------------------------------------------------------------- */
.text-ru {
  font-family: "Avenir-Next" !important; }

.text-cmn {
  font-family: "Chinese-Font" !important; }

.text-yue {
  font-family: "Chinese-Font" !important; }

/* -------------------------------------------------------------------
STYLES SPECIFIQUES HOME (LOGIN)
------------------------------------------------------------------- */
#screen-home .centered-content {
  height: 82vh; }

/* -------------------------------------------------------------------
STYLES SPECIFIQUES SELECTION HISTOIRES
------------------------------------------------------------------- */
#screen-story-choice .centered-content .wrap-stories {
  position: relative;
  width: 100%;
  margin-top: 5vh; }

#screen-story-choice .centered-content #btn-prev-story {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6%;
  height: 100%;
  background: url("../../images/icon_prev.png") left 2vw center no-repeat;
  background-size: 20px 30px;
  cursor: pointer;
  z-index: 10; }

#screen-story-choice .centered-content #btn-next-story {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 6%;
  height: 100%;
  background: url("../../images/icon_next.png") right 2vw center no-repeat;
  background-size: 20px 30px;
  cursor: pointer;
  z-index: 10; }

#screen-story-choice .centered-content .list-stories {
  position: relative;
  width: 100%; }
  #screen-story-choice .centered-content .list-stories.active-item .item-story:not(.selected) img {
    top: 6vw; }
  #screen-story-choice .centered-content .list-stories .item-story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer; }
    #screen-story-choice .centered-content .list-stories .item-story img {
      position: relative;
      top: 0px;
      width: 60vw;
      max-width: 270px;
      height: auto;
      -moz-transition: width 0.5s 0s ease, max-width 0.5s 0s ease, top 0.5s 0s ease;
      -o-transition: width 0.5s 0s ease, max-width 0.5s 0s ease, top 0.5s 0s ease;
      -webkit-transition: width 0.5s 0s ease, max-width 0.5s 0s ease, top 0.5s 0s ease;
      transition: width 0.5s 0s ease, max-width 0.5s 0s ease, top 0.5s 0s ease;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      -khtml-opacity: 1; }
    #screen-story-choice .centered-content .list-stories .item-story.selected img {
      width: 35vw;
      max-width: 450px;
      -webkit-animation: fadeIn 0.6s 0s;
      -moz-animation: fadeIn 0.6s 0s;
      -ms-animation: fadeIn 0.6s 0s;
      -o-animation: fadeIn 0.6s 0s;
      animation: fadeIn 0.6s 0s; }

#screen-story-choice .centered-content .line-buttons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4vh;
  width: 100%;
  margin-top: 40px; }
  #screen-story-choice .centered-content .line-buttons-bottom .btn-version {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 44%;
    height: 70px;
    max-width: 400px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    border-radius: 70px;
    cursor: pointer;
    margin: 0px 1.5%;
    padding: 0px 20px; }
    #screen-story-choice .centered-content .line-buttons-bottom .btn-version .icon {
      width: 20px;
      min-width: 24px;
      height: 24px;
      background: url("../../images/icon_play.png") no-repeat;
      background-size: 20px 24px; }
    #screen-story-choice .centered-content .line-buttons-bottom .btn-version .text {
      font-family: "Martell-Medium";
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 10px; }
  #screen-story-choice .centered-content .line-buttons-bottom.active .btn-version {
    display: flex; }
    #screen-story-choice .centered-content .line-buttons-bottom.active .btn-version:nth-child(1) {
      -webkit-animation: fadeIn 0.8s;
      -moz-animation: fadeIn 0.8s;
      -ms-animation: fadeIn 0.8s;
      -o-animation: fadeIn 0.8s;
      animation: fadeIn 0.8s; }
    #screen-story-choice .centered-content .line-buttons-bottom.active .btn-version:nth-child(2) {
      -webkit-animation: fadeIn 0.8s;
      -moz-animation: fadeIn 0.8s;
      -ms-animation: fadeIn 0.8s;
      -o-animation: fadeIn 0.8s;
      animation: fadeIn 0.8s; }

/* -------------------------------------------------------------------
STYLES SPECIFIQUES PLAYER AUDIO
------------------------------------------------------------------- */
#screen-player .story-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3vh; }
  #screen-player .story-selected img {
    width: 70vw;
    max-width: 450px;
    height: auto; }

#screen-player .player-audio {
  width: 90%;
  max-width: 960px; }

/* -------------------------------------------------------------------
STYLES GENERAUX WEBAPP
------------------------------------------------------------------- */
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden; }

.container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to bottom, #001545 11%, #333bf1 82%, #363dfa);
  padding: 0px !important; }
  .container-global section.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .container-global section.screen.soon .main-content .centered-content .msg-version-soon {
      display: block; }
    .container-global section.screen.soon .main-content .centered-content .story-selected,
    .container-global section.screen.soon .main-content .centered-content .player-audio {
      display: none; }
    .container-global section.screen #btn-back {
      position: fixed;
      top: 3vh;
      left: 3vh;
      width: 20px;
      height: 30px;
      background: url("../../images/icon_back.png") no-repeat;
      background-size: 20px 30px;
      cursor: pointer;
      z-index: 10;
      -webkit-animation: fadeInLeft 1s;
      -moz-animation: fadeInLeft 1s;
      -ms-animation: fadeInLeft 1s;
      -o-animation: fadeInLeft 1s;
      animation: fadeInLeft 1s; }
    .container-global section.screen .main-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2; }
      .container-global section.screen .main-content .logo-tos,
      .container-global section.screen .main-content .logo-tos-authenticated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2vh;
        height: 10vh;
        min-height: 75px; }
        .container-global section.screen .main-content .logo-tos img,
        .container-global section.screen .main-content .logo-tos-authenticated img {
          width: auto;
          height: 100%; }
      .container-global section.screen .main-content .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2vh;
        width: 100%;
        height: 88vh; }
        .container-global section.screen .main-content .centered-content .text-intro {
          width: 90%;
          max-width: 800px;
          font-family: "Martell-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 34px;
          line-height: 34px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65);
          -moz-text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65);
          text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65); }
        .container-global section.screen .main-content .centered-content .text-intro-authenticated {
          position: absolute;
          top: 6vh;
          font-family: "Martell-Bold";
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 24px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none; }
        .container-global section.screen .main-content .centered-content .text-loading {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 95%;
          max-width: 960px; }
          .container-global section.screen .main-content .centered-content .text-loading .first-part {
            width: 100%;
            font-family: "Martell-Regular";
            font-weight: normal;
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none; }
          .container-global section.screen .main-content .centered-content .text-loading .second-part {
            width: 100%;
            font-family: "Martell-Regular";
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 10vh; }
        .container-global section.screen .main-content .centered-content .msg-version-soon {
          display: none;
          width: 95%;
          max-width: 960px;
          font-family: "Martell-Regular";
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 22px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none; }
        .container-global section.screen .main-content .centered-content .count {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          font-family: "Martell-Regular";
          font-weight: normal;
          font-style: normal;
          font-size: 400px;
          line-height: 400px;
          color: #B5905A;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none; }
          .container-global section.screen .main-content .centered-content .count .num {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0px;
            width: 100%;
            height: 100%;
            -moz-transition: opacity 0.2s ease;
            -o-transition: opacity 0.2s ease;
            -webkit-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease; }
            .container-global section.screen .main-content .centered-content .count .num.active {
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              -moz-opacity: 1;
              opacity: 1;
              -khtml-opacity: 1; }
            .container-global section.screen .main-content .centered-content .count .num.inactive {
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              -moz-opacity: 0;
              opacity: 0;
              -khtml-opacity: 0; }
        .container-global section.screen .main-content .centered-content ul.list-lang {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          top: 6vh;
          width: 80%;
          margin-bottom: 0px; }
          .container-global section.screen .main-content .centered-content ul.list-lang li.item-lang {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 450px;
            height: 60px;
            font-family: "Martell-Medium";
            font-weight: normal;
            font-style: normal;
            font-size: 22px;
            line-height: 22px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #ffffff;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            border-radius: 60px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            opacity: 1;
            -khtml-opacity: 1;
            margin-bottom: 2vh;
            cursor: pointer; }
            .container-global section.screen .main-content .centered-content ul.list-lang li.item-lang.soon {
              color: #cccccc;
              border: 1px solid #cccccc;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
              filter: alpha(opacity=50);
              -moz-opacity: 0.5;
              opacity: 0.5;
              -khtml-opacity: 0.5; }
      .container-global section.screen .main-content form.login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 450px;
        margin-top: 5vh; }
        .container-global section.screen .main-content form.login-form .error {
          display: none;
          width: 100%;
          font-family: "Martell-Medium";
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 18px;
          color: #ffffff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65);
          -moz-text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65);
          text-shadow: 1px 1px 22px rgba(0, 21, 69, 0.65);
          -webkit-animation: fadeIn 0.4s;
          -moz-animation: fadeIn 0.4s;
          -ms-animation: fadeIn 0.4s;
          -o-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
          margin-bottom: 20px; }
        .container-global section.screen .main-content form.login-form input.text-field {
          width: 90%;
          height: 40px;
          font-family: "Martell-Regular";
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 18px;
          color: #001545;
          text-align: center;
          text-transform: none;
          text-decoration: none;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          border-radius: 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #ffffff;
          outline: none;
          border: none;
          margin-bottom: 10px; }
          .container-global section.screen .main-content form.login-form input.text-field::-webkit-input-placeholder {
            color: #c6c6c4; }
          .container-global section.screen .main-content form.login-form input.text-field:-moz-placeholder {
            color: #c6c6c4;
            text-transform: uppercase; }
          .container-global section.screen .main-content form.login-form input.text-field::-moz-placeholder {
            color: #c6c6c4;
            text-transform: uppercase; }
          .container-global section.screen .main-content form.login-form input.text-field:-ms-input-placeholder {
            color: #c6c6c4;
            text-transform: uppercase; }
        .container-global section.screen .main-content form.login-form button.btn-submit {
          width: 90%;
          height: 40px;
          font-family: "Martell-Regular";
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 18px;
          color: #ffffff;
          text-align: center;
          text-transform: none;
          text-decoration: none;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          border-radius: 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #001545;
          outline: none;
          border: none;
          cursor: pointer; }
      .container-global section.screen .main-content footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 6vh;
        font-family: "BentonSans-Condensed-Light";
        font-weight: normal;
        font-style: normal;
        font-size: 3vh;
        line-height: 3vh;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #001545; }
    .container-global section.screen .waves {
      position: relative;
      top: 0px;
      width: 150vw;
      max-width: 840px;
      min-height: 100vh;
      z-index: 1;
      background: url("../../images/waves.png") center top 22vh no-repeat;
      background-size: 100% auto; }

/* -------------------------------------------------------------------
ANIMATIONS
------------------------------------------------------------------- */
