<section class="screen" id="screen-loading">
	<div id="btn-back"></div>
	<div class="main-content">
		<div class="logo-tos-authenticated">
			<img src="assets/images/logo_tos.png" alt="Taste of Sounds by Martell" />
		</div>
		<div class="centered-content">
			<div class="text-loading">
				<div class="first-part text-yue">此音频体验涉及酒精，<br />若您未满所在国家的法定<br />饮酒年龄，请勿收听。<br /><br />本视频内容涉及酒类知识<br />和相关信息，<br />请确认您已经满18周岁</div>
				<div class="second-part text-yue">乐享美酒需理性</div>
			</div>
			<div class="count inactive">
				<span class="num num-3 inactive">3</span>
				<span class="num num-2 inactive">2</span>
				<span class="num num-1 inactive">1</span>
			</div>
		</div>
	</div>
</section>
